body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1{
    color: #258596;
}
label{
    color:rgb(8, 9, 9)
}
button, input[type="submit"], input[type="reset"] {
    background-color: #258596;
    color: rgb(252, 250, 250);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}